POSTGRES_URL="postgres://postgres.ecqlvfgszoxoqfqimznn:GSjASvAVvtPPD1SY@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_PRISMA_URL="postgres://postgres.ecqlvfgszoxoqfqimznn:GSjASvAVvtPPD1SY@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
SUPABASE_URL="https://ecqlvfgszoxoqfqimznn.supabase.co"
NEXT_PUBLIC_SUPABASE_URL="https://ecqlvfgszoxoqfqimznn.supabase.co"
POSTGRES_URL_NON_POOLING="postgres://postgres.ecqlvfgszoxoqfqimznn:GSjASvAVvtPPD1SY@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
SUPABASE_JWT_SECRET="QchL1LrXeST2VKToBhYVXDPvn/eJK2CJxnmQFrIkuowr+fODswdJbDPAtuQeR0Apkzj4libDcuf1WkMS2oC1TQ=="
POSTGRES_USER="postgres"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVjcWx2Zmdzem94b3FmcWltem5uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDUyNTc0MTQsImV4cCI6MjA2MDgzMzQxNH0.6Y81H0FarfyRCyFKR42rPhpyuZ93xofKviei_xE9Vcw"
POSTGRES_PASSWORD="GSjASvAVvtPPD1SY"
POSTGRES_DATABASE="postgres"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVjcWx2Zmdzem94b3FmcWltem5uIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NTI1NzQxNCwiZXhwIjoyMDYwODMzNDE0fQ.x3x0PFJxhGVS4PAhubJsZXCPDM8bjSN60BwCBn427x0"
POSTGRES_HOST="db.ecqlvfgszoxoqfqimznn.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVjcWx2Zmdzem94b3FmcWltem5uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDUyNTc0MTQsImV4cCI6MjA2MDgzMzQxNH0.6Y81H0FarfyRCyFKR42rPhpyuZ93xofKviei_xE9Vcw"